{% extends 'base.html.twig' %}

{% block title %}RentSwap - Profile{% endblock %}

{% block main %}
    <div class="container d-flex search-item flex-column flex-lg-row mt-5">

        {% include '_partial/device/results_search.html.twig' with {
            routeSearchName: 'app_user_favorites'
        } %}
    </div>

{% endblock %}





