{% extends 'base.html.twig' %}

{% block title %}RentSwap - Device{% endblock %}

{% block main %}

    <div class="container mt-5 d-flex flex-wrap gap-3">

        <div class="col position-relative">
            <h2 class="col-12 bg-white rounded-3 fs-5 text-center py-2 color-theme-gray-4">Charger des nouvelles images</h2>
            <div id="uppy-dashboard"
                 class="col-12"
                 data-param='{{ {slug: device.slug}|json_encode|raw }}'>
            </div>

        </div>

        {% if data.pagination.total > 0  %}

            <div class="col" id="result">
                {% include '_partial/device/picture_device.html.twig' %}
            </div>

        {% endif %}


        <div class="d-flex justify-content-center gap-2 col-12">
            <a href="{{ path('app_user_device_set_status', { status: draft, slug: device.slug }) }}"
               class="btn btn-dark rounded-4 py-3"
               type="submit">Sauvergarder dans le brouillon
            </a>
            <a href="{{ path('app_user_device_set_status', { status: pending, slug: device.slug }) }}"
               class="btn btn-dark col-2 rounded-4 py-3"
               type="submit">Publier
            </a>
            <a href="{{ path('app_user_device_set_status', { status: delete, slug: device.slug }) }}"
               class="btn btn-danger rounded-4 py-3"
               type="submit">Supprimer l'annonce
            </a>
        </div>

    </div>

{% endblock %}





