$color-theme-white:                 #F0F2F2;
$color-theme-white-2:               #F2F9F9;
$color-theme-yellow:                #F2BB16;
$color-theme-yellow-2:              #FEF8E3;
$color-theme-gray:                  #F5F5F5;
$color-theme-gray-2:                #959595;
$color-theme-dark:                  #131313;

$input-btn-focus-color:             none;
$input-btn-focus-blur:              none;
$input-btn-focus-box-shadow:        none;
$input-border-radius:               none;

$input-focus-bg:                    none;
$input-focus-border-color:          none;
$input-focus-color:                 none;
$input-focus-box-shadow:            none;


$input-group-addon-color:           red !important;
$input-group-addon-bg:              #ffffff !important;
$input-group-addon-color:           $color-theme-dark  !important;
$input-group-background:            green !important;


