@import "_variables.scss";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "form.scss";
@import "packages/upp.scss";

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/RobotoSlab-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/RobotoSlab-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/RobotoSlab-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/RobotoSlab-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/RobotoSlab-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/RobotoSlab-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/RobotoSlab-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/RobotoSlab-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
*{
  font-family:  'Helvetica Neue', 'Roboto', sans-serif;
}
.dflex{
  display: flex;
}
a, li {
  text-decoration: none;
  color: inherit;
}
li{
  list-style: none;
}

.cursor-pointer{
  cursor: pointer;
}
.pointer-events-none {
  pointer-events: none;
}
.disabled{
  opacity: 0.50;
}

@for $i from 5 through 9 {
  .font-size-0#{$i} {
    font-size: $i*0.1rem;
  }
  .font-size-#{$i}{
    font-size: $i*1rem;
  }
}

@for $i from 2 through 10 {
  $suffixe: $i*100;
  .fw-#{$suffixe} {
    font-weight: $suffixe;
  }
}

.fw-200 {
  font-weight: 200;
}
.fw-300 {
  font-weight: 300;
}
.fw-normal {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500 !important;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}
.fw-900 {
  font-weight: 900;
}

  // Les couleurs
.color-theme-white{
  color: $color-theme-white;
}
.color-theme-dark{
  color: $color-theme-dark;
}
.color-theme-white-2{
  color: $color-theme-white-2;
}
.color-theme-gray{
  color: $color-theme-gray;
}
.color-theme-gray-2{
  color: $color-theme-gray-2;
}
.color-theme-gray-4{
  color: $color-theme-gray-4;
}
.color-theme-yellow{
  color: $color-theme-yellow;
}
.color-theme-yellow-2{
  color: $color-theme-yellow-2;
}
.color-theme-danger{
  color: $color-theme-danger;
}

.bg-theme-gray{
  background-color: $color-theme-gray;
}
.bg-theme-dark{
  background-color: $color-theme-dark;
}
.bg-theme-yellow{
  background-color: $color-theme-yellow;
}
.bg-theme-yellow-2{
  background-color: $color-theme-yellow-2;
}
.bg-theme-gray-3{
  background-color: $color-theme-gray-3;
}
.bg-theme-gray-2{
  background-color: $color-theme-gray-2;
}
.bg-theme-gray-4{
  background-color: $color-theme-gray-4;
}
.bg-theme-danger{
  background-color: $color-theme-danger;
}

.bg-secondary-opacity-1 {
  --bs-bg-opacity: 0.1;
  background-color: rgba(var(--bs-secondary-rgb), var(--bs-bg-opacity)) !important;
}

@for $i from 1 through 5 {
  .border-left-color-theme-dark-#{$i}{
    border-left: $i*1rem solid $color-theme-dark;
  }
  .border-right-color-theme-dark-#{$i}{
    border-right: $i*1rem solid $color-theme-dark;
  }

  .border-left-color-white-#{$i}{
    border-left: $i*1rem solid #fff;
  }
  .border-right-color-white-#{$i}{
    border-right: $i*1rem solid #fff;
  }
}

.border-theme-dark{
  border: 1px solid $color-theme-dark;
}
.border-theme-gray{
  border: 1px solid $color-theme-gray;
}
.border-theme-gray-2{
  border: 1px solid $color-theme-gray-2;
}
.border-theme-danger{
  border: 1px solid $color-theme-danger;
}
.border-left{
  border-left: 3px solid $color-theme-dark;
}

.cursor-pointer{
  cursor: pointer;
}
.pointer-events-none {
  pointer-events: none;
}
@for $i from 6 through 10 {
  .py-#{$i} {
    padding-top: $i*1rem;
    padding-bottom: $i*1rem;
  }
}

@for $i from 1 through 100 {
  .bottom-#{$i} {
    bottom: $i*1%;
  }
  .top-#{$i} {
    top: $i*1%;
  }
  .end-#{$i} {
    right: $i*1%;
  }
  .start-#{$i} {
    left: $i*1%;
  }

  .width-#{$i} {
    width: $i*1rem;
  }

  .height-#{$i} {
    height: $i*1rem;
  }
}
.vh-30{
  height: 30vh;
}


.resize-none{
  resize: none;
}

.card-zoom {
  transition: transform 0.3s ease-in-out;
}

.card-zoom:hover {
  transform: scale(1.02);
}

header{
  box-shadow: rgba(17, 17, 26, 0.05) 0 1px 0, rgba(17, 17, 26, 0.1) 0 0 8px;
}


main{
  min-height: 4vh !important;

  overflow-y: hidden;

  #section-home-3{
    font-size: 1.10rem;
  }

  #section-home-2{
    .carousel-wrapper {
      white-space: nowrap;

      .carousel-card {
        height: 15rem;
      }

      .carousel-track {
        animation: scroll 20s linear infinite;
      }
    }


    /* Animation du défilement */
    @keyframes scroll {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(-100%);
      }
    }
  }
  #section-home-5, #section-show-1{
    .carousel-container {
      .carousel-slide {
        display: none;
        opacity: 0;
        &.active {
          display: block;
          opacity: 1;
          -webkit-animation: fadein 1s linear forwards;
          animation: fadein 1s linear forwards;
        }
      }
      .carousel-buttons {
        .width-height-2{
          height: 3rem;
          width: 3rem;
        }
        transform: translateY(-50%);
      }
    }
    .box-shadow {
      box-shadow: $color-theme-yellow-2 0px 54px 55px, $color-theme-yellow-2 0px -12px 30px, $color-theme-yellow-2 0px 4px 6px, $color-theme-yellow-2 0px 12px 13px, $color-theme-yellow-2 0px -3px 5px;
    }
  }

  #map {
    height: 500px;
    .ol-viewport{
      border-radius: 20px;
    }
  }

  #section-message{
    #conversation-content{
      max-height: 550px;
      overflow-x: hidden;
    }
    #message-content{
      height: 400px;
      overflow-x: hidden;
    }

  }
}

footer {
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  .network-icon:hover{
    color: white !important;
    background-color: #1a1d20;
  }
  .nav-item:hover{
    font-size: 1.1em;
  }
}


.product-list {
  gap: 20px;
  will-change: transform;
  transition: transform 0.5s ease-in-out;
}

.product-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.slider-btn:disabled {
  opacity: 0.3;
  cursor: default;
}


