{% if user is defined %}
    <p>Bonjour {{ user.username|capitalize }},</p>

    <p>Nous vous confirmons que le mot de passe associé à votre compte a été modifié avec succès.</p>

    <p>Si vous êtes à l'origine de cette action, vous n'avez rien à faire.</p>

    <p>Si vous n'êtes pas à l'origine de cette modification, veuillez contacter immédiatement notre support.</p>

{% endif %}

{% if resetToken is defined %}
    <p>Bonjour,</p>
    <p>Vous avez demandé la réinitialisation de votre mot de passe.</p>
    <p>Pour continuer, veuillez cliquer sur le lien ci-dessous :</p>

    <p><a href="{{ absolute_url(path('app_reset_password_reset', {token: resetToken.token})) }}">Je reinitialise mon mot de passe</a></p>

    <p>Ce lien est valable pendant 10 minutes.</p>

    <p>Si vous n’êtes pas à l’origine de cette demande, vous pouvez ignorer cet e-mail. Aucun changement ne sera effectué sans action de votre part.</p>
{% endif %}

Ce message a été envoyé automatiquement. Merci de ne pas y répondre.

<p>Cordialement,</p>
L’équipe <a href="{{ absolute_url(path('app_home')) }}">Reusiix</a> <br><br>
