{% extends 'base.html.twig' %}

{% block title %}Hello LegislationController!{% endblock %}

{% block main %}

    <div class="container bg-white rounded-3 mt-4 p-4">

        <h1 class="fs-4 mb-4">Mentions légales</h1>
        <!-- Informations génerales -->
        <div>
            <h2 class="fs-5 color-theme-gray-4">Informations générales</h2>
            <hr>
            <p class="font-size-09">Conformément aux dispositions des articles 6-III et 19 de la loi n° 2004-575 du 21 juin 2004 pour la Confiance dans l'Économie Numérique, nous vous informons que : </p>
            <p class="mb-0">Le site Internet www.reusiiw.com est un site édité par :</p>
            <div class="font-size-09">

                <ul class="infoGeneral">
                    <li>La Société XXX,</li>
                    <li>SAS au capital de XXX EURO,</li>
                    <li>Inscrite au RCS de Nantes sous le numéro XXX,</li>
                    <li>Dont les locaux sont situés 240 avenue du roi, 75000 Paris</li>
                    <li>N° TVA : FR XXXXX</li>
                </ul>
                <p class="mb-1">
                    Directeur de publication : Bem BOLA en qualité de gérant de la société XXX,
                </p>
                <p class="mb-1">Les utilisateurs du site peuvent contacter l'administrateur à contact@reusiix.com</p>
                <p class="mb-1">Le fichier de données collectées et traitées via le Site a fait l’objet d’une déclaration auprès de la CNIL sous le numéro XXXX</p>
            </div>
        </div>

        <!-- Conditions d'utilisation -->
        <div class="mt-4">
            <h2 class="fs-5 color-theme-gray-4">Conditions d'utilisation</h2>
            <hr>
            <p class="font-size-09">L'utilisateur reconnaît avoir pris connaissance et s'engage à respecter les conditions  d'utilisation figurant sur une page spécifique, librement accessible
                Il reconnaît également avoir été informé des conditions de la politique de respect de la vie privée librement accessible
                L'utilisateur du site internet www.reusiix.com reconnaît disposer de la capacité juridique, de la compétence et des moyens nécessaires pour accéder et utiliser ce Site.
                L'utilisateur du Site reconnaît avoir vérifié que la configuration informatique utilisée ne contient aucun virus ou contenu susceptible de menacer la sécurité du Site et qu'elle est en parfait état de fonctionnement.</p>
        </div>


        <!-- Mise en garde sur les informations -->
        <div class="mt-4">
            <h2 class="fs-5 color-theme-gray-4">Mise en garde sur les informations</h2>
            <hr>
            <p class="font-size-09">Reusiix met tout en œuvre pour offrir aux utilisateurs des informations et/ou outils disponibles et vérifiés mais ne saurait être tenu pour responsable des erreurs, d'une absence de disponibilité des informations et/ou de la présence d'un virus sur son site.
                Les informations fournies par 2Reusiix et ses éventuels partenaires le sont à titre indicatif. Ceux-ci ne sauraient garantir l'exactitude, la complétude, l'actualité des informations diffusées par le Site. Ces informations ne sauraient dispenser l'utilisateur d'une analyse complémentaire et personnalisée. En conséquence, l'utilisateur reconnaît utiliser ces informations sous sa responsabilité exclusive.
                Pour des raisons de maintenance, 2Reusiix pourra interrompre l'accès de son site et s'efforcera d'en avertir préalablement les utilisateurs dès lors que cela est possible.</p>
        </div>


        <!-- Droits de propriété -->
        <div class="mt-4">
            <h2 class="fs-5 color-theme-gray-4">Droits de propriété</h2>
            <hr>
            <p class="font-size-09">La structure générale, ainsi que les textes, images animées ou non, sons, savoir-faire..., et tout autre élément composant le site y compris la technologie sous-jacente, sont la propriété exclusive de Reusiix et de tiers ayant autorisé Reusiix à les exploiter.
                Sauf dispositions explicites, il est interdit de reproduire, modifier, transmettre, publier, adapter, sur quelque support que ce soit, ou exploiter de quelque manière que ce soit, tout ou une partie du site sans l'autorisation écrite au préalable de Reusiix. Ceci constituerait une contrefaçon sanctionnée par les articles L.335-2 et suivants du Code de la propriété intellectuelle.
                Il en est de même des bases de données figurant, le cas échéant, sur le Site qui sont protégées par les dispositions de la loi du 1er juillet 1998 portant transposition dans le Code de la propriété intellectuelle de la directive du 11 mars 1996 relative à la protection juridique des bases de données, et dont Reusiix est producteur.
                Les marques de Reusiix et de ses partenaires, ainsi que les logos figurant sur le site sont des marques déposées par leurs titulaires respectifs.
                Toute reproduction totale ou partielle de ces marques ou logos, effectuée à partir des éléments du Site sans l'autorisation expresse de Reusiix, est donc prohibée, au sens de l'article L.713-2 du Code de la propriété intellectuelle.</p>
        </div>

    </div>
{% endblock %}
