{% extends 'base.html.twig' %}

{% block title %}Reusiix - Error 500{% endblock %}
{% block main %}
    <div class="d-flex justify-content-center flex-column align-items-center vh-30">
        <h1>Oups, quelque chose a cassé...</h1>
        <p>Le serveur a eu un petit coup de chaud</p>
        <a href="{{ path('app_home') }}" class=" bg-theme-dark text-white fw-500 py-3 px-5 rounded-pill">Retourner à l'accueil</a>
    </div>
{% endblock %}