{% extends 'base.html.twig' %}

{% block title %}Reusiix - Mesages{% endblock %}

{% block main %}

    {% set lengthConversations = app.user|conversationLength %}
    {% set userCurrent = app.user %}

    <section class="flex-wrap mt-5 mx-auto row gap-3 col-sm-12 col-md-12 col-xxl-10"
             id="section-message">
        {% if lengthConversations > 0 %}
            <!-- Liste de conversations-->
            <article class="bg-white rounded-4 px-0 py-0 mx-auto col-sm-8 col-md-6 position-relative {{ slugConversation is defined ? 'd-sm-none d-md-none d-xxl-block col-xxl-3' : 'col-xxl-5'}}"
                     id="conversations">
                {% include '_partial/conversation/list.html.twig' %}
            </article>
            <!-- Fin de liste de conversations-->

        {% if slugConversation is defined %}
            {% set otherUser = currentConversation.users|filterUser(userCurrent.id) %}
            <!-- Détail de conversations-->
            <article class="col bg-white rounded-4 px-0 py-3 mx-auto" id="article-message">
                {% include '_partial/conversation/conversation-detail.html.twig' %}
            </article>
            <!-- Détail de conversations-->

        {% endif %}
        {% endif %}
    </section>

{% endblock %}

{% block javascripts_end %}

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {

        })
    </script>

{% endblock %}