
<!-- Footer -->
<footer class="px-5 py-4">

   <div class="row align-items-start">

      <div class="col col-sm-12 col-xs-12 col-md-12 col-lg text-xs-center text-sm-center text-md-center text-lg-start mt-xs-3 mt-sm-3 mt-md-3 mt-lg-0">
         <h3 class="fs-5">INFORMATIONS GÉNÉRALES</h3>
         <ul class="mx-0 px-0">
            <li class="mb-1 nav-item"><a href="#">Qui sommes-nous ?</a></li>
            <li class="mb-1 nav-item"><a href="#">Conditions générales d'utilisation</a></li>
            <li class="mb-1 nav-item"><a href="#">RGPD et Gestions de cookies</a></li>
         </ul>
      </div>

      <div class="col col-sm-12 col-xs-12 col-md-12 col-lg text-xs-center text-sm-center text-md-center text-lg-start mt-xs-3 mt-sm-3 mt-md-3 mt-lg-0">
         <h3 class="fs-5">DES QUESTIONS</h3>
         <ul class="mx-0 px-0">
            <li class="mb-1 nav-item"><a href="#">FAQ</a></li>
            <li class="mb-1 nav-item"><a href="#">Connexion et sécurité</a></li>
            <li class="mb-1 nav-item"><a href="#">RGPD et Gestions de cookies</a></li>
         </ul>
      </div>

      <!-- LOGO -->
      <div class="col col-sm-12 col-xs-12 col-md-12 col-lg-4 text-xs-center text-sm-center text-md-center text-lg-start mt-xs-1 mt-sm-1 mt-md-1 mt-lg-0">
         <div class="logo-content col-8 col-sm-12 col-xs-12 col-md-12 col-lg-8">
            <a href="/">
               <img src="{{ asset('img/logo/logo-rent-swap.svg') }}" alt="Logo du site Rent Swap" class="col-sm-3 col-xs-3 col-md-3 col-lg-6">
            </a>
            <p class="text-xs-center text-sm-center text-md-center text-lg-start">Tout à porter des mains</p>
            <p class="text-xs-center text-sm-center text-md-center text-lg-start">Faciliter l'accès aux objets du quotidien tout en encourageant l'économie circulaire.</p>
         </div>
         <div class="border-dark border-1 bg-theme-gray py-5 rounded-3">

            <div class="mb-3 d-flex justify-content-center">
               <a href="#" class=" btn btn-dark">Nous contacter</a>
            </div>

            <h4 class="text-center fs-5">Nous retrouver</h4>
            <div class="d-flex justify-content-center col-12">
               <a href="#" class="btn border-dark rounded-2 network-icon"><i class="bi bi-facebook"></i></a>
               <a href="#" class="btn border-dark ms-2 network-icon"><i class="bi bi-twitter-x"></i></a>
               <a href="#" class="btn border-dark rounded-2 ms-2 network-icon"><i class="bi bi-instagram"></i></a>
               <a href="#" class="btn border-dark rounded-2 ms-2 network-icon"><i class="bi bi-linkedin"></i></a>
               <a href="#" class="btn border-dark rounded-2 ms-2 network-icon"><i class="bi bi-tiktok"></i></a>
            </div>

         </div>
      </div>
   </div>


   <hr/>
   <p class="text-center col-12"><small>Copyright {{ 'now' | date('Y') }} RENTSWAP - Tous droits réservés</small></p>
</footer>
<!-- Footer -->
